/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


/***** GENERIC STYLES *************/
/**********************************/


/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}
*/


.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #b34f4f;
    
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #fff;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: #b34f4f;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    /*border-bottom: 1px solid #e6e8ea;*/
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    color: #6d2725;

}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

header.container{
	position: relative;
	z-index: 100;
}






body{
	background-color: #f0ede4;
	font-family: Helvetica, sans-serif;
	color: #850c0c;

}

.clearfix.wrapper{
	width: 80%;
	margin: 0 auto;
	max-width: 1025px;

}

ul{
	list-style: none;
	padding: 0px;
	position: relative;
	z-index: 100;
}

a{
	text-decoration: none;
	color: #850c0c;
}


/***** SPECIFIC STYLES ************/
/**********************************/

.site_nav{
	display: none;
}
.william{
	display: none;
}

.flower{
	display: none;
}

header img{
	width: 100%;
}

.main_pic{
	margin: 0;
	margin-top: 20px;
}

.main_pic img{
	width: 100%;
}

.shows img{
	width: 35%;
	border: 2px solid white;
	box-shadow: 2px 2px 3px #bcbab3;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

.shows p{
	font-family: "Times New Roman", serif;
	color: #171717;
	font-size: 1.1em;

}

.shows .textinshow{
	width: 100%;
	position: relative;
}

.shows .textinshow .readmore{
	position: absolute;
	right: 0;
}

.dracula, .nutcracker, .romeoandjuliet{
	margin-top: 20px;
}

.shows .textinshow .readmore{
	text-decoration: underline;
	color: #e60000;
	font-weight: bold;
}

.pattern1{
	width: 100%;
	height: 48px;
	background-image: url(../img/pattern_1.jpg);
	background-repeat: repeat-x;
	margin-top: 20px;
}


.signup p{
	color: #432b05;
	font-style: italic;
	margin: 0;
	text-align: center;
}

.signup h2{
	margin: 0;
	text-align: center;
	margin-top: 20px;
}

.signup form{
	width: 100%;
	margin-top: 20px;
}

.email_bar {
	display: inline-block;
	width: 69%;
}

.email_bar input{
	display: inline-block;
	width: 90%;
	height: 35px;
	border-radius: 5px;
}

.button{
	display: inline-block;
	width: 30%;
}

.button input{
	color: white;
	display: inline-block;
	background-color: #8c1b1a;
	box-shadow: 0 2px 2px black;
	border-radius: 5px;
	text-align: center;
	padding: 10px 15px 10px 15px;
	width: 100%;
	border: none;
}

.membership a{
	display: block;
	font-family: "Times New Roman", serif;
	color: #8c1b1a;
	font-weight: bold;
	font-size: 1.8em;
	text-align: center;
	border-radius: 5px;
	padding: 20px 0 20px 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c8a627+0,af7d1b+100 */
	background: #c8a627; /* Old browsers */
	background: -moz-linear-gradient(top,  #c8a627 0%, #af7d1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8a627), color-stop(100%,#af7d1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c8a627 0%,#af7d1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c8a627 0%,#af7d1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c8a627 0%,#af7d1b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c8a627 0%,#af7d1b 100%); /* W3C */
	border: 2px solid #c5ab94;
	text-shadow: 0px 1px 2px rgba(255,255,255,0.3);
	margin-top: 20px;
	margin-bottom: 30px;
}
footer {
	position: relative;
	width: 100%;
	height: 177px;
	background-image: url(../img/pattern_2.jpg);
	background-repeat: repeat-x;
}
.footer_info, .footer_links{
	position: absolute;
	color: white;
	font-family: "Time New Roman", serif;
}

.footer_links a{
	color: white;
	text-decoration: underline;
}

.footer_info{
	left: 25%;
	top: 45px;
}
.footer_info li{
	text-align: center;
}

.footer_links{
	bottom: 10px;
	right: 30%;
}

.footer_links ul{
	display: block;
}

.footer_links li{
	display: inline-block;
}

.footer_links a{
	display: block;
	padding-right: 35px;
}


.pattern3{
	display: none;
}

.membership2{
	display: none;
}

.signup2{
	display: none;
}
@media screen and (min-width: 800px){


	.wrapper-dropdown-3{
		display: none;
	}
	
	header .logo{
		width: 50%;
	}


	.william{
		display: block;
		float: right;
		width: 15%;
	}

	.site_nav{
		display: block;
		float: left;
		width: 30%;
	}

	.site_nav li{
		line-height: 22px;
		text-align: right;
		/*padding-top: 5px;
		padding-bottom: 5px;*/
	}

	.site_nav a{
		font-size: 1em;
		padding-right: 10px;
	}

	.connect{
		display: block;
		border: 2px solid #c2baa9;
		border-radius: 5px;
		border-right: none;
		padding-right: 10px;
		width: 99%;
		margin-top: 20px;

	}

	.main_pic{
		float: right;
		width: 65%;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.site_nav ul{
		border-right: 2px solid #c2baa9;
	}

	.button{
		margin-left: 5px;
	}

	.shows div{
		width: 21.2%;
		float: left;

	}

	.clearfix.off_the_wall{
		margin-top: 20px;
		margin-right: 5%;
	}
 
 	.clearfix.dracula{
 		margin-right: 5%;
 	}

 	.clearfix.nutcracker{
 		margin-right: 5%;
 	}

 	.clearfix.romeoandjuliet{
 		float: left;
 	}
	.shows .textinshow .readmore{
		position: relative;
	}

	.shows h3{
		margin-bottom: 20px;
	}

	.shows p{
		font-size: 1em;
		margin-bottom: 20px;
	}

	.shows img{
		width: 100%;
		margin-bottom: 20px;
	}

	.pattern1{
		display: none;
	}
	.pattern3{
		width: 100%;
		height: 48px;
		background-image: url(../img/pattern_1.jpg);
		background-repeat: repeat-x;
		margin-top: 50px;
		display: block;
		position: relative;
}
	
	/*.flower{
		display: block;
		position: relative;
		bottom: 88px;
		left: 25px;
	}*/

	.membership{
		display: none;
	}

	.membership2 a{
		position: relative;
		width: 50%;
		text-align: center;
		display: block;
		left: 25%;
		top: 50%;
		color: #af5017;
	}

	.membership2{
		display: inline-block;
		background-image: url(../img/flower_bg.png);
		background-size: 100%;
		height: 100px;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 7px;
		left: 5%;
	}

	.signup{
		display: none;
	}

	footer{
		margin-top: 80px;
	}

	footer ul{
		margin-top: 25px;
	}

	.footer_info{
		left: 15%;
		top: 10%;
		display: inline-block;
	}

	.footer_info li{
		text-align: left;
	}

	.footer_links li{
		display: block;
	}

	.signup2{
		display: inline-block;
		text-align: right;
		width: 100%;
		
	}

	.signup2 .email_bar{
		width: 65%;
	}
	.signup2 h2{
		display: inline-block;
		font-size: 1em;
		margin: 0;
	}

	.signup2 p{
		color: #432b05;
		font-style: italic;
		margin: 0;
		line-height: 25px;
		font-size: .9em;
	}
	
	.signup2 form{
		float: right;
	}

	.footer_links{
		display: inline-block;
		right: 20%;
		top: 9%;
	}
}

